<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.pig.add.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/do-add</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AddAjaxServlet</servlet-name>
        <servlet-class>com.pig.add.AddAjaxServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddAjaxServlet</servlet-name>
        <url-pattern>/do-add-ajax</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.pig.add.FileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/do-file-upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadFileServlet</servlet-name>
        <servlet-class>com.pig.add.LoadFileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoadFileServlet</servlet-name>
        <url-pattern>/file</url-pattern>
    </servlet-mapping>


</web-app>